# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Environment Variables / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Datasets
# =========================
data/raw/
data/processed/

# =========================
# Trained Models
# =========================
models/*.keras
models/*.h5
models/*.hdf5

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp